In [86]:
import pandas as pd
import numpy as numpy
from bs4 import BeautifulSoup
import requests

In [88]:
url="https://populationtoday.com/"
html=requests.get(url)

In [89]:
soup=BeautifulSoup(html.text,'html.parser')

In [90]:
tables=soup.find_all("table")
len(tables)

5

In [94]:
table_index=0
for index,table in enumerate(tables):
    if("Equivalent world" in str(table)):
        table_index=index
print(table_index)

4

In [96]:
tables[4]

<table><thead><tr><th style="width:40px">Rank</th><th style="width:40px">Iso</th><th>Country</th><th>Population</th><th>Equivalent world</th></tr></thead><tbody><tr><td>1</td><td>IN</td><td class="nowrap"><a href="https://populationtoday.com/in-india/" title="India population"><span class="flag" style="background-position:0 40.909091%;"></span> India</a></td><td>1,464,079,327</td><td>17.78%</td></tr><tr><td>2</td><td>CN</td><td class="nowrap"><a href="https://populationtoday.com/cn-china/" title="People's Republic of China population"><span class="flag" style="background-position:0 19.008264%;"></span> People's Republ...</a></td><td>1,416,035,168</td><td>17.3%</td></tr><tr><td>3</td><td>US</td><td class="nowrap"><a href="https://populationtoday.com/us-united-states/" title="United States of America population"><span class="flag" style="background-position:0 93.38843%;"></span> United States o...</a></td><td>347,307,682</td><td>4.23%</td></tr><tr><td>4</td><td>ID</td><td class="nowrap"><a href="https://populationtoday.com/id-indonesia/" title="Indonesia population"><span class="flag" style="background-position:0 39.669421%;"></span> Indonesia</a></td><td>285,757,348</td><td>3.47%</td></tr><tr><td>5</td><td>PK</td><td class="nowrap"><a href="https://populationtoday.com/pk-pakistan/" title="Pakistan population"><span class="flag" style="background-position:0 70.247934%;"></span> Pakistan</a></td><td>255,277,538</td><td>3.09%</td></tr><tr><td>6</td><td>NG</td><td class="nowrap"><a href="https://populationtoday.com/ng-nigeria/" title="Nigeria population"><span class="flag" style="background-position:0 64.46281%;"></span> Nigeria</a></td><td>237,593,304</td><td>2.87%</td></tr><tr><td>7</td><td>BR</td><td class="nowrap"><a href="https://populationtoday.com/br-brazil/" title="Brazil population"><span class="flag" style="background-position:0 11.983471%;"></span> Brazil</a></td><td>212,825,900</td><td>2.59%</td></tr><tr><td>8</td><td>BD</td><td class="nowrap"><a href="https://populationtoday.com/bd-bangladesh/" title="Bangladesh population"><span class="flag" style="background-position:0 7.85124%;"></span> Bangladesh</a></td><td>175,720,285</td><td>2.13%</td></tr><tr><td>9</td><td>RU</td><td class="nowrap"><a href="https://populationtoday.com/ru-russia/" title="Russia population"><span class="flag" style="background-position:0 75.206612%;"></span> Russia</a></td><td>143,979,829</td><td>1.76%</td></tr><tr><td>10</td><td>ET</td><td class="nowrap"><a href="https://populationtoday.com/et-ethiopia/" title="Ethiopia population"><span class="flag" style="background-position:0 27.272727%;"></span> Ethiopia</a></td><td>135,513,409</td><td>1.63%</td></tr></tbody></table>

In [98]:
population_data=pd.DataFrame(columns=["Rank","Iso","Country","Population","	Equivalent_world"])
for row in tables[table_index].tbody.find_all("tr"):
    col=row.find_all("td")
    if col:
        rank=col[0].text
        iso=col[1].text
        country=col[2].text
        population=col[3].text
        Equivalent_world=col[4].text
        new_row=pd.DataFrame({'Rank':[rank],"Iso":[iso],"Country":[country],"Population":[population],"Equivalent_world":[Equivalent_world]})
        population_data=pd.concat([population_data,new_row],ignore_index=True)

In [100]:
population_data.head()

,Rank,Iso,Country,Population,\tEquivalent_world,Equivalent_world
0,1,IN,India,"1,464,079,327",NaN,17.78%
1,2,CN,People's Republ...,"1,416,035,168",NaN,17.3%
2,3,US,United States o...,"347,307,682",NaN,4.23%
3,4,ID,Indonesia,"285,757,348",NaN,3.47%
4,5,PK,Pakistan,"255,277,538",NaN,3.09%

In [102]:
population_data= population_data.drop("\tEquivalent_world",axis=1)

In [104]:
population_data

  Rank Iso              Country     Population Equivalent_world
0    1  IN                India  1,464,079,327           17.78%
1    2  CN   People's Republ...  1,416,035,168            17.3%
2    3  US   United States o...    347,307,682            4.23%
3    4  ID            Indonesia    285,757,348            3.47%
4    5  PK             Pakistan    255,277,538            3.09%
5    6  NG              Nigeria    237,593,304            2.87%
6    7  BR               Brazil    212,825,900            2.59%
7    8  BD           Bangladesh    175,720,285            2.13%
8    9  RU               Russia    143,979,829            1.76%
9   10  ET             Ethiopia    135,513,409            1.63%

In [161]:
df=pd.read_html("https://countries-worldwide.com/largest-countries/")

In [162]:
df=df[0]
df.loc[df["Country"]== 'United States *', 'Country'] = 'United States o... '
df.loc[df["Country"]== 'China', 'Country'] ="People's Republ..."
area_df = df[['Country', 'Total area in (km2)', 'Continent']]
population_data['Country'] = population_data['Country'].str.strip()
area_df['Country'] = area_df['Country'].str.strip()


merged_df = pd.merge(population_data, area_df, on='Country', how='left')

C:\Users\abhijith\AppData\Local\Temp\ipykernel_11488\1918227324.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area_df['Country'] = area_df['Country'].str.strip()

In [165]:
merged_df['Equivalent_world'] = merged_df['Equivalent_world'].str.replace('%', '', regex=False)

In [167]:
merged_df

,Rank,Iso,Country,Population,Equivalent_world,Total area in (km2),Continent
0,1,IN,India,"1,464,079,327",17.78,3287263,Asia
1,2,CN,People's Republ...,"1,416,035,168",17.3,9596961,Asia
2,3,US,United States o...,"347,307,682",4.23,9857348,North America
3,4,ID,Indonesia,"285,757,348",3.47,1904569,Asia
4,5,PK,Pakistan,"255,277,538",3.09,796095,Asia
5,6,NG,Nigeria,"237,593,304",2.87,923768,Africa
6,7,BR,Brazil,"212,825,900",2.59,8515770,South America
7,8,BD,Bangladesh,"175,720,285",2.13,143998,Asia
8,9,RU,Russia,"143,979,829",1.76,17098242,Europe/Asia
9,10,ET,Ethiopia,"135,513,409",1.63,1104300,Africa

In [ ]:
merged_df.loc[df["Country"]== 'United States o...', 'Country'] = 'United States'
df.loc[df["Country"]== "People's Republ...', 'Country'] ="People's Republ..."